<div class="hero-unit">
    <p>When accessing moodle website via HTTPS browser prohibits displaying of the below resources because they origin from HTTP.<br />
        You should be able to see it in your browser's Javascript console:</p>
    <small><ul>
        <li>Blocked loading mixed active content "http://googlesamples.github.io/web-fundamentals/samples/discovery-and-distribution/avoid-mixed-content/simple-example.js"</li>
        <li>Blocked loading mixed active content "http://googlesamples.github.io/web-fundamentals/samples/discovery-and-distribution/avoid-mixed-content/style.css"</li>
        <li>Blocked loading mixed active content "http://googlesamples.github.io/web-fundamentals/samples/discovery-and-distribution/avoid-mixed-content/puppy-thumb.jpg"</li>
        <li>Blocked loading mixed active content "http://googlesamples.github.io/web-fundamentals/samples/discovery-and-distribution/avoid-mixed-content/image-gallery-example.html"</li>
    </ul></small>

</div>
<div class="hero-unit">
    <small>
    <p>{{# str }} loadinsecurejavascript, tool_csp {{/ str }} from<br />
        http://googlesamples.github.io/web-fundamentals/samples/discovery-and-distribution/avoid-mixed-content/simple-example.js</p>
    <script src="http://googlesamples.github.io/web-fundamentals/samples/discovery-and-distribution/avoid-mixed-content/simple-example.js"></script>

    <p>{{# str }} loadinsecurecss, tool_csp {{/ str }} from<br />
        http://googlesamples.github.io/web-fundamentals/samples/discovery-and-distribution/avoid-mixed-content/style.css</p>
    <link href="http://googlesamples.github.io/web-fundamentals/samples/discovery-and-distribution/avoid-mixed-content/style.css" rel="stylesheet">

    <p>{{# str }} loadinsecureimage, tool_csp {{/ str }} from<br />
        http://googlesamples.github.io/web-fundamentals/samples/discovery-and-distribution/avoid-mixed-content/puppy-thumb.jpg</p>
    <img src="http://googlesamples.github.io/web-fundamentals/samples/discovery-and-distribution/avoid-mixed-content/puppy-thumb.jpg">

    <p>{{# str }} loadinsecureiframe, tool_csp {{/ str }} from<br />
        http://googlesamples.github.io/web-fundamentals/samples/discovery-and-distribution/avoid-mixed-content/image-gallery-example.html</p>
    <iframe src="http://googlesamples.github.io/web-fundamentals/samples/discovery-and-distribution/avoid-mixed-content/image-gallery-example.html"></iframe>
    </small>
</div>